<%- include('../components/nav'); %>

  <section class="container mt-5">
    <% if (alerta===true) { %>
      <% if (tipo==="success" ) { %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>
            <%= mensaje %>
          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } else { %>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>
              <%= mensaje %>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% }} %>


            <h1 class="mb-5">Registrar Cátedra a Ofertar</h1>
            <form class="row g-3" method="POST" action="/catedras/vista/crear">
              <div class="col-12">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre">
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-success">Registrar</button>
                <a href="/catedras/vista" class="btn btn-danger">Cancelar</a>
              </div>
            </form>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
</body>

</html>